html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #DAD7CD;
}

body {
    padding: 20px;
    font-family: 'carlito', sans-serif;
    color: #344E41;
}

h1 {
    text-align: center;
    color: #344E41;
    font-family: 'Libre baskerville', serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Lightened text shadow */
    background-color: #CAD2C5;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #CAD2C5;
    width: 70%;
    margin: 20px auto;
}

h2, h3 {
    font-family: 'Libre baskerville', serif;
    color: #344E41;
    border-bottom: 3px solid #CAD2C5;
    padding-bottom: 6px;
    background-color: #CAD2C5;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    margin: 15px 20px;
    font-size: 1.5em; /* Increase font size */
    font-weight: bold; /* Make text bold */
}

p {
    font-family: 'carlito', sans-serif;
    text-align: justify;
    line-height: 1.8;
    color: #344E41;
    background-color: #F7F9F7;
    padding: 50px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    width: 85%;
    margin: 20px auto;
}